<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>1482</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="./styles/core.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
    integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
    integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Alfredo Flores</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/projects.html">Projects<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/contact.html">Contact Me</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" id="app">
    <div class="section row">
      <div v-for="item in projects" :key="item.title">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" :src="item.img" alt="Card image cap" height="200px" style="object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <div id="hide">
                <button class="btn btn-primary" v-on:click="item.isHidden = !item.isHidden">Clic para
                  esconder y
                  mostrar</button>
                <p class="card-text" v-if="!item.isHidden">{{item.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <script>
    var example1 = new Vue({
      el: '#app',
      data: {
        projects: [],
      },
      mounted() {
        axios
          .get('http://localhost:4001/projects')
          .then(response => {
            let x = response.data.projects.map((element) => { var obj = Object.assign({}, element); obj.isHidden = true; console.log(obj); return obj })
            this.projects = x
          })
      },
    });

  </script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
    integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
    crossorigin="anonymous"></script>
  </body>
</html>